@font-face {
	font-family: "russo_oneregular";
	src: url("../font/russoone-regular-webfont.woff2") format("woff2"),
		url("../font/russoone-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

html,
body {
	overflow: hidden;
	background-color: #000;
	font-family: "russo_oneregular";
}

body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}

div {
	color: white;
	position: relative;
	z-index: 1;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	block-size: fit-content;
	width: fit-content;
	margin-top: 48vh;
}

@keyframes fadeIn {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

h1 {
	animation: fadeIn 5s linear forwards;
}
